# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Deploy to ECR and Quay
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        
    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Set docker image
      env:
        VERSION: 0.1.0
      run: |
        BRANCH=$(echo $GITHUB_REF | cut -d "/" -f 3)
        SHA_SHORT=$(echo $GITHUB_SHA | head -c7)
        echo "export TAG=$VERSION-$BRANCH.$SHA_SHORT.$(date +'%Y%m%dT%H%M%S')" >> ./env

    - name: Build kplserver image
      uses: turnerlabs/fargate-cicd-action@master
      with:
        args: . ./env; docker build -t kplserver .
        
    - name: Login to us-east-1 ECR
      uses: turnerlabs/fargate-cicd-action@master
      env:
        AWS_DEFAULT_REGION: us-east-1
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      with:
        args: login=$(aws ecr get-login --no-include-email) && eval "$login"

    - name: Tag kplserver image
      uses: turnerlabs/fargate-cicd-action@master
      env:
        ECR_REPO: ${{ secrets.ECR_REPO }}
      with:
        args: . ./env; docker tag kplserver:latest ${{ secrets.ECR_REPO }}:$TAG

    - name: Push kplserver image
      uses: turnerlabs/fargate-cicd-action@master
      env:
        AWS_DEFAULT_REGION: us-east-1
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        ECR_REPO: ${{ secrets.ECR_REPO }}        
      with:
        args: . ./env; docker push ${{ secrets.ECR_REPO }}:$TAG
